<nav class="sidebar close">
	<header>
		<div class="image-text">
			<span class="image">
				<a href="/"><img src="public/images/logo.png" alt="logo" /></a>
				</span>
				<div class="text logo-text">
					<a href="/"><span class="name">Inventory</span></a>
				</div>
			</a>
		</div>
		<i class="bx bx-chevron-right toggle"></i>
	</header>
	<div class="menu-bar">
		<div class="menu">
			<li class="search-box">
				
			</li>
			<ul class="menu-links">
				<li class="nav-link">
					<a href="/">
						<span class="material-icons-outlined">
							warehouse
						</span>
						<span class="text nav-text">Inventory</span>
					</a>
				</li>
				<li class="nav-link">
					<a href="/add">
						<span class="material-icons-outlined">
							add
						</span>
						<span class="text nav-text">Add items</span>
					</a>
				</li>
				<li class="nav-link">
					<a href="/remove">
						<span class="material-icons-outlined">
							remove
						</span>
						<span class="text nav-text">Remove items</span>
					</a>
				</li>
				<li class="nav-link">
					<a href="/update">
						<span class="material-icons-outlined">
							update
						</span>
						<span class="text nav-text">Update items</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="bottom-content">
			<li class="mode">
				<div class="sun-moon">
					<i class="bx bx-moon icon moon"></i>
					<i class="bx bx-sun icon sun"></i>
				</div>
				<span class="mode-text text">Dark mode</span>
				<div class="toggle-switch">
					<span class="switch"></span>
				</div>
			</li>
		</div>
	</div>
</nav>