<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Deleted item</title>
		<link rel="stylesheet" href="../public/index.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet" />
		<link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
		<title>Inventory Management</title>
		<link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">
	</head>
	<body>
        {{>sidebar}}
        <div class="home addedHome">
            <div class="message">
                <h1>Item removed succesfully</h1>
                <div class="butns">
                <a href="/remove"> <button>Remove more items</button></a>
                <a href="/"> <button>Main page</button></a>
                
                </div>
                
            </div>
        </div>
        <script src="public/index.js"></script>
	</body>
</html>